branches/Telcordia_Diffserv/CoSMIC/PIM/WSML/interpreters/WSDLExporter/src/WSML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?udm interface="WSML" version="1.00"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" 
>
<!-- generated on Sat Jul 29 22:41:36 2006 -->


	<xsd:complexType name="HeaderMessageType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstHeaderMessage_end_" type="xsd:IDREF"/>
		<xsd:attribute name="srcHeaderMessage_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="HeaderPartType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstHeaderPart_end_" type="xsd:IDREF"/>
		<xsd:attribute name="srcHeaderPart_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="BodyPartsType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstBodyParts_end_" type="xsd:IDREF"/>
		<xsd:attribute name="srcBodyParts_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SOAPFaultExtensionType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcSOAPFaultExtension_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstSOAPFaultExtension_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="HeaderBindingType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcHeaderBinding_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstHeaderBinding_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="BodyBindingType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcBodyBinding_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstBodyBinding_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SchemaBuiltinsType">
		<xsd:sequence>
			<xsd:element name="AtomicType" type="AtomicTypeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="AtomicTypeType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="typeCode" type="xsd:string" default="string"/>
		<xsd:attribute name="referedbyPart" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="BindingRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcPortBinding" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="MessageType">
		<xsd:sequence>
			<xsd:element name="Part" type="PartType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="referedbyMessageRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="BindingType">
		<xsd:sequence>
			<xsd:element name="BindingOperation" type="BindingOperationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BindsOperation" type="BindsOperationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="OperationRef" type="OperationRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SOAPBinding" type="SOAPBindingType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="referedbyBindingRef" type="xsd:IDREFS"/>
		<xsd:attribute name="dstBindingPortType" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="BindsOperationType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstBindsOperation_end_" type="xsd:IDREF"/>
		<xsd:attribute name="srcBindsOperation_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PortBindingType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstPortBinding_end_" type="xsd:IDREF"/>
		<xsd:attribute name="srcPortBinding_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="BindingOperationType">
		<xsd:sequence>
			<xsd:element name="BodyBinding" type="BodyBindingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BodyParts" type="BodyPartsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="FaultRef" type="FaultRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HeaderBinding" type="HeaderBindingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HeaderMessage" type="HeaderMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HeaderPart" type="HeaderPartType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InputRef" type="InputRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MessageRef" type="MessageRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OutputRef" type="OutputRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PartRef" type="PartRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SOAPBody" type="SOAPBodyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SOAPFault" type="SOAPFaultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SOAPFaultExtension" type="SOAPFaultExtensionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SOAPHeader" type="SOAPHeaderType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SOAPHeaderFault" type="SOAPHeaderFaultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SOAPOperation" type="SOAPOperationType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstBindsOperation" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PortType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="SOAPAddress" type="SOAPAddressType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstPortBinding" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="TypesType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="Schema" type="SchemaType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ServiceType">
		<xsd:sequence>
			<xsd:element name="BindingRef" type="BindingRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Port" type="PortType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PortBinding" type="PortBindingType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="DefinitionsType">
		<xsd:sequence>
			<xsd:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Binding" type="BindingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BindingPortType" type="BindingPortTypeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="Import" type="ImportType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Messages" type="MessagesType" minOccurs="0"/>
			<xsd:element name="PortType" type="PortTypeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Service" type="ServiceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Types" type="TypesType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="targetNamespace" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OperationRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="srcBindsOperation" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="MessagesType">
		<xsd:sequence>
			<xsd:element name="Message" type="MessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PortTypeType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="NotificationOperation" type="NotificationOperationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OneWayOperation" type="OneWayOperationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RequestResponseOperation" type="RequestResponseOperationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SolicitResponseOperation" type="SolicitResponseOperationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcBindingPortType" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PartType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="referedbyPartRef" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="PartRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="srcHeaderPart" type="xsd:IDREFS"/>
		<xsd:attribute name="srcBodyParts" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ImportType">
		<xsd:sequence>
			<xsd:element name="Definitions" type="DefinitionsType"/>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="namespace" type="xsd:string" use="required"/>
		<xsd:attribute name="location" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="BindingPortTypeType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="srcBindingPortType_end_" type="xsd:IDREF"/>
		<xsd:attribute name="dstBindingPortType_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="DocumentationType">
		<xsd:sequence>
			<xsd:element name="Element" type="ElementType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Mixed" type="xsd:boolean" default="false"/>
		<xsd:attribute name="DocText" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="InputRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstBodyBinding" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="dstHeaderBinding" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OneWayOperationType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="FaultMessage" type="FaultMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Input" type="InputType"/>
			<xsd:element name="InputMessage" type="InputMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MessageRef" type="MessageRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OutputMessage" type="OutputMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="referedbyOperationRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="MessageRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="srcFaultMessage" type="xsd:IDREFS"/>
		<xsd:attribute name="srcOutputMessage" type="xsd:IDREFS"/>
		<xsd:attribute name="srcInputMessage" type="xsd:IDREFS"/>
		<xsd:attribute name="srcHeaderMessage" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="RequestResponseOperationType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="Fault" type="FaultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FaultMessage" type="FaultMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Input" type="InputType"/>
			<xsd:element name="InputMessage" type="InputMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MessageRef" type="MessageRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Output" type="OutputType"/>
			<xsd:element name="OutputMessage" type="OutputMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="parameterOrder" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbyOperationRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="FaultRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstSOAPFaultExtension" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="FaultMessageType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstFaultMessage_end_" type="xsd:IDREF"/>
		<xsd:attribute name="srcFaultMessage_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OutputMessageType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstOutputMessage_end_" type="xsd:IDREF"/>
		<xsd:attribute name="srcOutputMessage_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="FaultType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstFaultMessage" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="referedbyFaultRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OutputType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstOutputMessage" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="referedbyOutputRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SolicitResponseOperationType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="Fault" type="FaultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FaultMessage" type="FaultMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Input" type="InputType"/>
			<xsd:element name="InputMessage" type="InputMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MessageRef" type="MessageRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Output" type="OutputType"/>
			<xsd:element name="OutputMessage" type="OutputMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="parameterOrder" type="xsd:string" use="required"/>
		<xsd:attribute name="referedbyOperationRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="InputType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="referedbyInputRef" type="xsd:IDREFS"/>
		<xsd:attribute name="dstInputMessage" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="InputMessageType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstInputMessage_end_" type="xsd:IDREF"/>
		<xsd:attribute name="srcInputMessage_end_" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="NotificationOperationType">
		<xsd:sequence>
			<xsd:element name="Documentation" type="DocumentationType" minOccurs="0"/>
			<xsd:element name="FaultMessage" type="FaultMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InputMessage" type="InputMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MessageRef" type="MessageRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Output" type="OutputType"/>
			<xsd:element name="OutputMessage" type="OutputMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="referedbyOperationRef" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="OutputRefType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="dstBodyBinding" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="dstHeaderBinding" type="xsd:IDREFS"/>
		<xsd:attribute name="ref" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SchemaReferenceType">
		<xsd:sequence>
			<xsd:element name="Schema" type="SchemaType"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="schemaLocation" type="xsd:string" use="required"/>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="AttributeType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Value" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="ElementType">
		<xsd:sequence>
			<xsd:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Element" type="ElementType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="Order" type="xsd:long" default="0"/>
		<xsd:attribute name="schemaType" type="xsd:string" default="local"/>
		<xsd:attribute name="referedbyPart" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SchemaType">
		<xsd:sequence>
			<xsd:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Element" type="ElementType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SchemaImport" type="SchemaImportType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SchemaReference" type="SchemaReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="targetNamespace" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SchemaImportType">
		<xsd:sequence>
			<xsd:element name="Schema" type="SchemaType"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="schemaLocation" type="xsd:string" use="required"/>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
		<xsd:attribute name="namespace" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SOAPOperationType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="required" type="xsd:boolean" default="false"/>
		<xsd:attribute name="style" type="xsd:string" default="document"/>
		<xsd:attribute name="soapAction" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SOAPHeaderType">
		<xsd:sequence>
			<xsd:element name="SOAPHeaderFault" type="SOAPHeaderFaultType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="required" type="xsd:boolean" default="false"/>
		<xsd:attribute name="use" type="xsd:string" default="literal"/>
		<xsd:attribute name="encodingStyle" type="xsd:string" use="required"/>
		<xsd:attribute name="namespace" type="xsd:string" use="required"/>
		<xsd:attribute name="srcHeaderBinding" type="xsd:IDREFS"/>
		<xsd:attribute name="dstHeaderPart" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="dstHeaderMessage" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SOAPHeaderFaultType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="required" type="xsd:boolean" default="false"/>
		<xsd:attribute name="use" type="xsd:string" default="literal"/>
		<xsd:attribute name="encodingStyle" type="xsd:string" use="required"/>
		<xsd:attribute name="namespace" type="xsd:string" use="required"/>
		<xsd:attribute name="srcHeaderBinding" type="xsd:IDREFS"/>
		<xsd:attribute name="dstHeaderPart" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="dstHeaderMessage" type="xsd:IDREF"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SOAPFaultType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="required" type="xsd:boolean" default="false"/>
		<xsd:attribute name="use" type="xsd:string" default="literal"/>
		<xsd:attribute name="encodingStyle" type="xsd:string" use="required"/>
		<xsd:attribute name="namespace" type="xsd:string" use="required"/>
		<xsd:attribute name="srcSOAPFaultExtension" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SOAPBodyType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="required" type="xsd:boolean" default="false"/>
		<xsd:attribute name="use" type="xsd:string" default="literal"/>
		<xsd:attribute name="encodingStyle" type="xsd:string" use="required"/>
		<xsd:attribute name="namespace" type="xsd:string" use="required"/>
		<xsd:attribute name="srcBodyBinding" type="xsd:IDREFS"/>
		<xsd:attribute name="dstBodyParts" type="xsd:IDREFS"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SOAPBindingType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="required" type="xsd:boolean" default="false"/>
		<xsd:attribute name="style" type="xsd:string" default="document"/>
		<xsd:attribute name="transport" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="SOAPAddressType">
		<xsd:attribute name="position" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="required" type="xsd:boolean" default="false"/>
		<xsd:attribute name="location" type="xsd:string" use="required"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

	<xsd:complexType name="RootFolderType">
		<xsd:sequence>
			<xsd:element name="Definitions" type="DefinitionsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RootFolder" type="RootFolderType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Schema" type="SchemaType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SchemaBuiltins" type="SchemaBuiltinsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="_id" type="xsd:ID"/>
		<xsd:attribute name="_archetype" type="xsd:IDREF"/>
		<xsd:attribute name="_derived" type="xsd:IDREFS"/>
		<xsd:attribute name="_instances" type="xsd:IDREFS"/>
		<xsd:attribute name="_desynched_atts" type="xsd:string"/>
		<xsd:attribute name="_real_archetype" type="xsd:boolean"/>
		<xsd:attribute name="_subtype" type="xsd:boolean"/>
	</xsd:complexType>

 <xsd:element name="RootFolder" type="RootFolderType"/>

</xsd:schema>
