TAO/CIAO/DAnCE/ComponentPackager/Package.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
            xmlns:Package="http://www.dre.vanderbilt.edu/Package"
            targetNamespace="http://www.dre.vanderbilt.edu/Package">

  <xsd:complexType name="PackageDescriptorsList">
   <xsd:sequence>
     <xsd:element name="desc" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="packageDescriptorsList" type="Package:PackageDescriptorsList"/>

</xsd:schema>
