branches/Telcordia_Diffserv/DRM-repository/DRM_Services/BandwidthBroker/arms_common_defs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="www.darpa.mil/ARMS" 
	   xmlns:arms="www.darpa.mil/ARMS" 
	   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	   elementFormDefault="qualified" attributeFormDefault="unqualified">
<!--$Id$-->
  <!-- ==================================================
       counts 
       ==================================================  -->
  <xs:element name="minCount" type="xs:integer"/>
  <xs:element name="maxCount" type="xs:integer"/>
  <xs:element name="nominalCount" type="xs:integer"/>
  <xs:element name="constantCount" type="xs:integer"/>

  <!-- ==================================================
       storage 
       ==================================================  -->
  <xs:simpleType name="dataSizeUnits">
    <xs:restriction base="xs:string">
      <!-- bytes -->
      <xs:enumeration value="B"/>  
      <xs:enumeration value="bytes"/>  
      <!-- kilobytes -->
      <xs:enumeration value="KB"/> 
      <xs:enumeration value="Kbytes"/>  
      <xs:enumeration value="kilobytes"/>  
      <!-- megaytes -->
      <xs:enumeration value="MB"/> 
      <xs:enumeration value="Mbytes"/>  
      <xs:enumeration value="megabytes"/>  
      <!-- gigabytes -->
      <xs:enumeration value="GB"/> 
      <xs:enumeration value="Gbytes"/>  
      <xs:enumeration value="gigabytes"/>  
      <!-- terabytes -->
      <xs:enumeration value="TB"/> 
      <xs:enumeration value="Tbytes"/>  
      <xs:enumeration value="terabytes"/> 
    </xs:restriction>
  </xs:simpleType>


  <!-- ==================================================
       sizes 
       ==================================================  -->
  <xs:complexType name="armsSize">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
	<xs:attribute name="units" type="arms:dataSizeUnits" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="nominalSize" type="arms:armsSize"/>
  <xs:element name="minSize" type="arms:armsSize"/>
  <xs:element name="maxSize" type="arms:armsSize"/>
  <xs:element name="size" type="arms:armsSize"/>
  <xs:element name="fixedSize" type="arms:armsSize"/>

  <!-- ==================================================
       memory
       ==================================================  -->
  <xs:element name="memory" type="arms:armsSize"/>
  <xs:element name="physicalMemory" type="arms:armsSize"/>
  <xs:element name="virtualMemory" type="arms:armsSize"/>
  <xs:element name="processMaxAddressSpace" type="arms:armsSize"/>

  <!-- ==================================================
       time 
       ==================================================  -->
  <xs:simpleType name="timeUnits">
    <xs:restriction base="xs:string">
      <!-- seconds -->
      <xs:enumeration value="s"/>  
      <xs:enumeration value="sec"/>
      <xs:enumeration value="seconds"/>
      <!-- milliseconds -->
      <xs:enumeration value="ms"/> 
      <xs:enumeration value="msec"/>
      <xs:enumeration value="milliseconds"/>
      <!-- microseconds -->
      <xs:enumeration value="us"/> 
      <xs:enumeration value="usec"/>
      <xs:enumeration value="microseconds"/>
      <!-- minutes -->
      <xs:enumeration value="min"/> 
      <xs:enumeration value="minutes"/>
      <!-- hours -->
      <xs:enumeration value="hr"/> 
      <xs:enumeration value="hours"/>
      <!-- days -->
      <xs:enumeration value="days"/> 
      <!-- years -->
      <xs:enumeration value="years"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ==================================================
       startup category
       ==================================================  -->
  <xs:simpleType name="StartupCategory">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="INFRASTRUCTURE_CORE"/>
      <xs:enumeration value="APPLICATION_CORE"/>
      <xs:enumeration value="NON_CORE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="startupCategory" type="arms:StartupCategory"/>

  <!-- ==================================================
       operating system 
       ==================================================  -->
  <xs:element name="operatingSystemList">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="arms:operatingSystem" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="operatingSystem">
    <xs:complexType mixed="true">
      <xs:all>
	<xs:element ref="arms:name"/>
	<xs:element ref="arms:version"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- ==================================================
       libraries 
       ==================================================  -->
  <xs:element name="libraries">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="arms:library"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ==================================================
       NDI level
       ==================================================  -->
  <xs:simpleType name="NDILevel">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="ND1"/>
      <xs:enumeration value="ND2"/>
      <xs:enumeration value="ND3"/>
      <xs:enumeration value="ND4"/>
      <xs:enumeration value="ND5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ndiLevel" type="arms:NDILevel"/>

  <!-- ==================================================
       Variable
       ==================================================  -->
  <xs:complexType name="Variable">
    <xs:sequence>
      <xs:element ref="arms:variableName"/>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="arms:generated"/>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="arms:specified"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="variable" type="arms:Variable"/>

  <!-- ==================================================
       Version number
       ==================================================  -->
  <xs:simpleType name="VersionNumber">
    <xs:restriction base="xs:string">
      <!-- example versions: 1, 1.2, 1.2a, 234.33.3a.2 -->
      <xs:pattern value="[0-9]+(\.([\*a-zA-Z0-9])+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ==================================================
       NamedReference
       ==================================================  -->
  <xs:complexType name="NamedReference">
    <xs:sequence>
      <xs:element ref="arms:nameXpath" minOccurs="0"/>
      <xs:element ref="arms:nameValue" minOccurs="1"/>
      <xs:element ref="arms:definitionLocation" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="nameXpath" type="xs:string"/>	
  <xs:element name="nameValue"  type="xs:string"/>
  <xs:element name="definitionLocation"  type="xs:string"/>	

  <!-- swName reference -->
  <xs:element name="swNameReference" type="arms:NamedReference">
    <xs:annotation>
      <xs:documentation>
	xpath should be "arms:softwareInstanceProfile/arms:swName"
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- swTaskName reference -->
  <xs:element name="swTaskNameReference" type="arms:NamedReference">
    <xs:annotation>
      <xs:documentation>
	xpath should be "arms:softwareTypeProfile/arms:tasks/arms:(periodic|eventReaction|..)Task/arms:taskName"
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- swTypeName reference -->
  <xs:element name="swTypeNameReference" type="arms:NamedReference">
    <xs:annotation>
      <xs:documentation>
	xpath should be "arms:softwareTypeProfile/arms:configuration:/arms:swName"
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- hwName reference -->
  <xs:element name="hwNameReference" type="arms:NamedReference">
    <xs:annotation>
      <xs:documentation>
	xpath should be "arms:hardwareConfiguration/arms:hwName"
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <!-- appStringName reference -->
  <xs:element name="appStringNameReference" type="arms:NamedReference">
    <xs:annotation>
      <xs:documentation>
	xpath should be "arms:appStringInstance/arms:appStringName"
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- appStringTypeName reference -->
  <xs:element name="appStringTypeNameReference" type="arms:NamedReference">
    <xs:annotation>
      <xs:documentation>
	xpath should be "arms:appStringType/arms:appStringTypeName"
      </xs:documentation>
    </xs:annotation>
  </xs:element>



  <!-- ==================================================
       miscellany 
       ==================================================  -->
  <xs:element name="appStringDescription" type="xs:string"/> <!-- instance description -->
  <xs:element name="appStringName" type="xs:string"/>	<!-- instance name -->
  <xs:element name="appStringTypeDescription" type="xs:string"/> <!-- generic description -->
  <xs:element name="appStringTypeName" type="xs:string"/>
  <xs:element name="appStringTypeSpecification" type="xs:string"/> <!-- generic description -->
  <xs:element name="ccmSpecification" type="xs:string"/> <!-- CORBA COMPONENT MODEL placeholder -->
  <xs:element name="j2eeSpecification" type="xs:string"/> <!-- J2EE placeholder -->
  <xs:element name="descOfSVCProvided" type="xs:string"/>
  <xs:element name="executablePath" type="xs:string"/>
  <xs:element name="generated" type="xs:string"/>
  <xs:element name="graphicCapabilityReqd" type="xs:string"/>
  <xs:element name="hwName" type="xs:string"/>
  <xs:element name="hwVendor" type="xs:string"/>
  <xs:element name="hwVersionNumber" type="arms:VersionNumber"/>
  <xs:element name="isTransient" type="xs:boolean"/>
  <xs:element name="library" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="priority" type="xs:integer"/>
  <xs:element name="specified" type="xs:string"/>
  <xs:element name="swName" type="xs:string"/>		<!-- instance name -->
  <xs:element name="swTypeName" type="xs:string"/>
  <xs:element name="swVendor" type="xs:string"/>
  <xs:element name="swVersionNumber" type="arms:VersionNumber"/>
  <xs:element name="taskName" type="xs:string"/>
  <xs:element name="variableName" type="xs:NCName"/>
  <xs:element name="version" type="arms:VersionNumber"/>

</xs:schema>